.App {
  font-family: sans-serif;
  text-align: center;
}

.cart-wrapper {
  width: 50%;
  margin: 50px auto;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2%;
}

.img-wrapper {
  margin: auto;
  width: 200px;
}
.text-wrapper {
  width: 200px;
  margin: 0 auto;
}
.btn-wrapper {
  width: 200px;
  margin: 0 auto;
}
.add-to-cart img {
  width: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}
.cart-count {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
}
.btn-wrapper button {
  width: 100px;
  margin: 0 auto;
  padding: 5px;
  margin: 10px;
  font-weight: 700;
  background-color: cornflowerblue;
  border-radius: 3px;
  box-shadow: #000 0px 2px 5px;
}
.img-wrapper img {
  width: 200px;
}
